# Ignore PhpStorm IDE configuration
.idea

# Ignore project-level Packagist auth details
auth.json

# Drupal profiles typically do not commit their Composer lock
# file. Instead a lock file will be created by the `composer
# create-project` command based on the latest versions within
# the version ranges specified within the `composer.json` file.
composer-lock.json
.DS_Store

# Ignore directories created by Composer
core
modules/**/*
themes
vendor

# Un-ignore custom modules
!modules/gla_core_*
!modules/gla_core_*/*
!modules/gla_core_*/**